.public {
    .detail {
        &-header {
            margin-bottom: 2rem;

            .bikeName {
                margin-top: 0;
                margin-bottom: 1rem;
            }

            .bikeCategory {
                font-size: 15px;
                letter-spacing: 2px;
                background-color: $color-teal !important;
            }
        }

        &-body {

            .body {
                font-size: 20px;

                &-title {
                    color: $color-black;
                    text-transform: capitalize;
                    vertical-align: middle;
                }

                &-icon {
                    font-size: 24px;
                    margin-right: 16px;
                    color: $color-coral;
                }

                &-info {
                    color: $color-gray-75;
                    margin-left: 2.5rem;
                    margin-bottom: 24px;
                }
            }
        }

        &-footer {
            margin-top: 0.5rem;

            .bikePrice {
                color: $color-orange;
                font-size: 2.5rem;
                text-align-last: center;
                margin-left: 10rem;
            }
        }
    }
}

.button-section {
    margin-bottom: 24px;
}