$color-white: #FFFFFF;
$color-gray: #EEEEEE;
$color-black: #000000;
$color-black-38: #383838;
$color-coral: #FF7F50;
$color-tomato: #FF6347;
$color-orangered: #FF4500;
$color-gold: #FFD700;
$color-orange: #FFA500;
$color-darkorange: #FF8C00;
$color-green: #006442;
$color-blue: #1F4788;
$color-gray-75: #757575;
$color-cyan: #00FFFF;
$color-red: #ff1a1a;
$color-violet: #a92dd2;
$color-danger: #ff4444;
$color-light-blue: #50d0ff;
$color-teal: #077c86;