.banner {
    margin-bottom: 1rem;

    &__info {
        width: 100%;
        min-height: 32rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem;
        background-image: linear-gradient(to right, rgba($color: #000000, $alpha: 0), rgba($color: #000000, $alpha: 0.5));
    }

    &__detail {
        max-width: 28.5rem;
        text-align: right;

        h2,
        p {
            color: $color-white;
        }

        h2 {
            margin-bottom: 1rem;
        }

        p {
            font-weight: 500;
        }
    }
}